body{
    background-color: rgb(241, 250, 248);
    color: darkslategray;
}

.stickynav {
    position: sticky;
    top: 0px;
    margin: 0px;
    padding-left: 10px;
    background-color: darkslategray;
    color: rgb(241, 250, 248);
    display: flex;
    justify-content: space-between;
}

.stickynav ul li{
    display: inline-block;
    padding: 10px 10px;
}

.stickynav a{
    color: white;
}

.blog-post {
    padding: 10px;
    margin: 15px;
    height: fit-content;
    background-color: rgb(210, 230, 225);
    overflow: hidden;
    display: flex;
}

.img-container {
    min-width: 400px;
    padding: 10px;
    margin-right: 10px;
    display: block;
}

.img-container img{
    width: 100%;
    padding-right: 10px;
    margin-right: 10px;
}

.blog-post header{
    display: flex;
    justify-content: space-between;
    height: min-content;
    padding: 0px;
    border-bottom: solid;
    border-color: darkslategray;
}

.blog-post header h2{
    margin: 0px;
    margin-top: 22px;
    padding: 0px;
    height: min-content;
}

.blog-post header address{
    margin: 0px;
    margin-top: 30px;
    padding: 0px;
    height: min-content;
}

.blog-post header time{
    margin: 0px;
    margin-top: 30px;
    padding: 0px;
    height: min-content;
}

.blog-post header p{
    margin: 0px;
    margin-top: 30px;
    padding: 0px;
    height: min-content;
}

.blog-post .post-content{
    padding: 10px;
}

#newsletter-sign-up{
    margin: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
}

.contact-form form{
    width: 200px;
}

.contact-form form input[type=text]{
    justify-content: left;
    margin-right: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.contact-form form input[type=email]{
    justify-content: left;
    margin-right: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.contact-form #contact-select{
    justify-content: left;
    margin-right: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.contact-form #comments{
    justify-content: left;
    margin-right: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
}
.text-container{
    display: block;
}

@media screen and (max-width: 600px){
    .blog-post{
        display: block;
    }
    .img-container {
        float: right;
        min-width: 100px;
        max-width: 150px;
        min-height: 100px;
        max-height: 125px;
        overflow: hidden;
        padding: 0px;
        margin-right: 10px;
        display: block;
    }
    body{
        font-size: 60%;
    }
    .blog-post header{
        display: grid;
    }
    .blog-post header h2{
        margin: 0px;
        margin-top: 10px;
        padding: 0px;
        height: min-content;
    }
    .blog-post header address{
        margin: 0px;
        margin-top: 10px;
        padding: 0px;
        height: min-content;
    }
    .blog-post header time{
        margin: 0px;
        margin-top: 10px;
        padding: 0px;
        height: min-content;
    }
    .blog-post header p{
        margin: 0px;
        margin-top: 10px;
        padding: 0px;
        height: min-content;
    }
}
@media screen and (min-width: 600px){
    .blog-post{
        display: block;
    }
    .img-container {
        float: right;
        min-width: 125px;
        max-width: 175px;
        min-height: 100px;
        padding: 0px;
        margin-right: 10px;
        display: block;
    }
    body{
        font-size: 70%;
    }
    .blog-post header{
        display: grid;
    }
    .blog-post header h2{
        margin: 0px;
        margin-top: 10px;
        padding: 0px;
        height: min-content;
    }
    .blog-post header address{
        margin: 0px;
        margin-top: 10px;
        padding: 0px;
        height: min-content;
    }
    .blog-post header time{
        margin: 0px;
        margin-top: 10px;
        padding: 0px;
        height: min-content;
    }
    .blog-post header p{
        margin: 0px;
        margin-top: 10px;
        padding: 0px;
        height: min-content;
    }
}
@media screen and (min-width: 786px){
    .blog-post{
        display: flex;
    }
    .img-container {
        float: left;
        min-width: 175px;
        max-width: 175px;
        padding: 0px;
        margin-right: 10px;
        display: block;
    }
    body{
        font-size: 75%;
    }
    .blog-post header{
        display: flex;
    }
    .blog-post header h2{
        margin: 0px;
        margin-top: 22px;
        padding: 0px;
        height: min-content;
    }
    .blog-post header address{
        margin: 0px;
        margin-top: 30px;
        padding: 0px;
        height: min-content;
    }
    .blog-post header time{
        margin: 0px;
        margin-top: 30px;
        padding: 0px;
        height: min-content;
    }
    .blog-post header p{
        margin: 0px;
        margin-top: 30px;
        padding: 0px;
        height: min-content;
    }
}
@media screen and (min-width: 992px){
    .img-container {
        float: left;
        min-width: 225px;
        max-width: 225px;
        padding: 10px;
        margin-right: 10px;
        display: block;
    }
    body{
        font-size: 85%;
    }
    
}
@media screen and (min-width: 1100px){
    .img-container {
        float: left;
        min-width: 300px;
        max-width: 300px;
        padding: 10px;
        margin-right: 10px;
        display: block;
    }
    body{
        font-size: 85%;
    }
    
}
@media screen and (min-width: 1300px){
    .img-container {
        float: left;
        min-width: 300px;
        max-width: 300px;
        padding: 10px;
        margin-right: 10px;
        display: block;
    }
    body{
        font-size: 100%;
    }
}
@media screen and (min-width: 1400px){
    .img-container {
        float: left;
        min-width: 400px;
        max-width: 400px;
        padding: 10px;
        margin-right: 10px;
        display: block;
    }
    
}
