.stickynav {
    position: sticky;
    top: 0;
    background-color: darkslategray;
    color: white;
    display: flex;
    justify-content: space-between;
}

.stickynav ul li{
    display: inline-block;
    padding: 10px 20px;
}

.stickynav a{
    color: white;
}
